<div class="win-stats" [class.win-stats_active]="ws.showWinStats">
  <h2>Felicitaciones Usted ganó el juego, este es su record!!</h2>
  <p class="win-stats__description">Número de Movimientos:<i class="fa fa-files-o"></i>{{ws.steps}}</p>
  <p class="win-stats__description">Tiempo:<i class="fa fa-clock-o"></i>{{ws.time}}</p>
  <!-- <p class="win-stats__description"><i class="fa fa-image"></i> {{ws.cardsNumber}}</p> -->
  <p> Reiniciar:
    <i class="fa fa-rotate-right btn btn_blue"
       aria-hidden="true"
       (click)="ws.restartGame()">
    </i>
  </p>
</div>
